<h1>RESTAURANT APP</h1>



<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>


<h2>Table Number: <%= @party.table_number %></h2>
<h2>Number of Guests: <%= @party.guest_number %></h2>
<h2>Paid: <%= @party.paid %></h2>


<% @orders.each do |order| %>
  <h2>Menu Item: <%= order.food.name %></h2> 
  <h2>Price: <%= order.food.price %></h2>
<% end %>

<a href="/parties/<%= @party.id %>/receipt">Receipt</a>

<a href="/parties/<%= @party.id %>/edit">Edit</a>

<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete!">
</form>