<h1>RESTAURANT APP</h1>


<a href="/">Home</a>

<a href="/foods">Menu</a>

<a href="/parties">Parties</a>

<a href="/parties/new">New Party</a>

<a href="/orders/new">New Order</a>

<a href="/foods/new">New Food</a>

<a href="/orders">Orders</a>



<h2>Party ID: <%= @parties.id %></h2> 
<h2>Table Number: <%= @parties.table_number %></h2>
<h2>Number of Guests: <%= @parties.guest_number %></h2>
<h2>Paid: <%= @parties.paid %></h2>
<h2><%= @foods.name %></h2>
<h2><%= @foods.price %></h2>






<form action="/foods" method="post">
	
	<input type="text" name="foods_id" placeholder="FOOD ID">
	
	<input type="submit">
</form>



<a href="/parties/<%= @parties.id %>/edit">Edit</a>

<form action="/parties/<%= @parties.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete!">
</form>

